@model VoiceSage.Web.Models.ViewModelContact

<form asp-action="GroupSelect">
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Groups List</h1>
            </div>
        </div>
        <select asp-for="ContactDto.ContactGroups" multiple class="col-10 pb-3">
            @foreach (var i in Model.Groups)
            {
                <option value="@i.GroupId">@i.GroupName</option>
            }
        </select>
        <div class="col-5 offset-2">
            <a asp-action="ContactEdit" class="btn-primary btn form-control">Back to Contact</a>
        </div>
        <div class="col-5">
            <input type="submit" value="Finalizar" class="btn btn-success form-control" />
        </div>
    </div>
</form>

